<p><%= t('plugin.ecommerce.mail.dear', default: 'Dear %{name}: ', name: @extra_data[:order].user.fullname) %></p>
<p><%= t('plugin.ecommerce.mail.order_shipped.message', default: 'Your order %{order} has been sent.', order: @extra_data[:order].slug) %></p>
